- theme_color = "#2196F3"
- site_url = "http://arthurassuncao.com"
- me_img = site_url + "/assets/img/me256x256.png"
- site_author = "Arthur Assunção"
- css_basedir = "assets/css"
- css_basedir_third_party = "assets/css/third_party"

head
  title #{site_author} - Desenvolvedor Web
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="theme-color", content=theme_color)
  meta(name="author", content=site_author)
  meta(name="dcterms.rightsHolder", content=site_author)
  meta(name="description", content="#{site_author} - Desenvolvedor Web")
  meta(name="keywords", content="#{site_author}, Sistemas para Internet, Desenvolvedor Web, Mestre em Computação")

  // Opengraph
  meta(property="og:locale", content="pt_BR")
  meta(property="og:title", content="#{site_author} - Desenvolvedor Web")
  meta(property="og:type", content="website")
  meta(property="og:url" content=site_url)
  meta(property="og:image", content=me_img)
  meta(property="og:site_name" content="#{site_author}")
  meta(property="og:description", content="#{site_author} - Desenvolvedor Web")

  // Twitter cards
  meta(name="twitter:card", content="summary")
  meta(name="twitter:url", content=site_url)
  meta(name="twitter:title", content="#{site_author} - Desenvolvedor Web")
  meta(name="twitter:description", content="#{site_author} - Desenvolvedor Web")
  meta(name="twitter:image", content=me_img)

  // Windows app
  meta(name="application-name", content="#{site_author} Site")
  meta(name="msapplication-TileColor", content=theme_color)

  // Favicon
  link(rel="shortcut icon", href="favicon.ico")
  link(rel="apple-touch-icon", href="apple-touch-icon.png")
  link(rel="icon", type="image/png", href="apple-touch-icon.png", sizes="16x16")

  // CSS
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,100italic,300italic,400", rel="stylesheet", type="text/css")
  //- link(rel="stylesheet", type="text/css", href="assets/css/plugin-min.css")
  //- link(rel="stylesheet", type="text/css", href="assets/css/custom-min.css")
  //- link(rel="stylesheet", type="text/css", href="assets/css/animate.min.css")
  //- link(rel="stylesheet", type="text/css", href="assets/css/mystyle.css")
  link(rel="stylesheet", type="text/css", href="#{css_basedir}/styles.css")

  // Imports
  //- link(rel="import", href="assets/js/third_party/polymer/components/google-map/google-map.html")

  